body{
	background-color: white;
	color: black;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: coral;
	color: white;
}

#navbar{
	background-color: darkgray;
	color: white;
}

#navbar ul{
padding: 0;
list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
}

#showcase{
	background-image: url('../images/show.jpg');
	background-position: center right;
	min-height: 200px;
	margin-bottom: 30px;
	text-align: center;
}

#main{
	float: left;
	width: 65%;
	background-color: lightgreen;
	color: black;
	padding: 10px;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 35%;
	background: darkgray;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

#main-footer{
	background: lightblue;
	color: white;
	text-align: center;
	padding: 0;
	margin-top: 40px;
}

@media(max-width: 500px)
{
	#main{
		width: 100%;
		float: none;
	}
	#sidebar{
		width: 100%;
		float: none;
	}
}




















